<div class="jumbotron text-center">
  <h1>MEAN Auth App</h1>
  <p class="lead">Welcome to the App, Go a head and roam around.</p>
  <div>
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
    <a [routerLink]="['/login']" class="btn btn-default">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Server</h3>
    <p>Backend API consists of Node.js Express server.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular 4</h3>
    <p>Front-end is built with the popular Angular 4 SPA Framework by Google &reg;</p>
  </div>
  <div class="col-md-4">
    <h3>Authentication</h3>
    <p>Based on JSON Web Tokens module for token based Auth.</p>
  </div>
</div>